<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/css/style.css">
    <title>Document</title>
    
</head>
<body>
    <h1> Welcome to E-cooking classes</h1>
    <h1>A chef/dietitian team collaborated on lively, interactive cooking lessons emphasizing culinary skills and hands-on learning</h1>
    <h2>Click on the link <a href="student/register"> if you want to learn</a></h2>
    <h2>If you are a chef click here<a href="teacher"> Chef</a></h2>

    <h2>Click Here if You are admin! <a href='admin'> Admin </a></h2>

    <h1>Existing Students Click here to Login! Enter your Id below!</h1>
    <form action ='/student' method="GET">
        <input type ="id" name="id"><br/>
        <button>Login</button>
    </form>
    
</body>
</html>